@import 'styles/helpers';

.header {
  display: flex;
  background-color: $brand-color;
  padding: 0 pixels-to-rem(16);
}

.container {
  width: 100%;
  max-width: pixels-to-rem(1024);
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: pixels-to-rem(64);
}

.input {
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.form {
  width: 100%;
}
